<html>
   <body>
      
      Welcome {{user}}

      <form action = "http://192.168.1.4:5000/transaction" method = "post">
         <p>Enter Transaction:</p>
         <p><input type = "text" name = "txn" /></p>
         <p><input type = "submit" value = "submit" /></p>
         <input type = "hidden" name = "user" value = {{user}} />
      </form>
      
      <table>
	      {% for txn in txns %}
	      <tr>
	      	<td> {{ txn }} </td>
	      </tr>
	      {% endfor %}
	  </table>
   </body>
</html>